{% extends 'base.html' %}
 {% block content %}
<h1>about</h1>
<h3>{{ my_text|capfirst|title }}</h3>
<p>about template</p>
<p> {{ my_number }}, {{ my_list }}</p>

{{ my_html|safe }}
<ul>
    <li>Item 1</li>
    <li>Item 2</li>
</ul>
<ul>
{% for my_sub_item in my_list %}
    {% if my_sub_item == 321 %}
    <li>{{ forloop.counter }} - {{ my_sub_item|add:22 }}</li>
    {% elif my_sub_item == 'abc' %}
    <li>this is not it</li>
    {% else %}
    <li>{{ forloop.counter }} - {{ my_sub_item }}</li>
    {% endif %}


{% endfor %}
</ul>

{% endblock %}